// Fonts
@import url("https://fonts.googleapis.com/css?family=Inter");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.post-card {
    transition: 200ms;
}

main.content {
    margin-top: 54px;
}

.post-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
